<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pd_magic_kiss_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{115,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,54}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>pd_magic_kiss_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,58},{94,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,59}}</string>
                <key>sourceSize</key>
                <string>{94,61}</string>
            </dict>
            <key>pd_magic_kiss_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,119},{75,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,59}}</string>
                <key>sourceSize</key>
                <string>{75,61}</string>
            </dict>
            <key>pd_magic_kiss_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{69,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>pd_magic_kiss_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,73},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>pd_magic_kiss_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,160}}</string>
                <key>sourceSize</key>
                <string>{188,162}</string>
            </dict>
            <key>pd_magic_kiss_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{187,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,156}}</string>
                <key>sourceSize</key>
                <string>{187,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_magic_kiss.png</string>
            <key>size</key>
            <string>{509,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30e2db011bb8564ee01a43eeb616721a:dcd2f13b6b75e0464483ce6eb40a5b1a:2ae0d5dd7c86f239cf993b3401bd2bc3$</string>
            <key>textureFileName</key>
            <string>pd_magic_kiss.png</string>
        </dict>
    </dict>
</plist>
