<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pd_magic_rose_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{72,73}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,83},{72,73}}</string>
                <key>sourceSize</key>
                <string>{168,195}</string>
            </dict>
            <key>pd_magic_rose_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{150,151}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,44},{150,151}}</string>
                <key>sourceSize</key>
                <string>{168,195}</string>
            </dict>
            <key>pd_magic_rose_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,160},{126,69}}</string>
                <key>offset</key>
                <string>{-9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,90},{126,69}}</string>
                <key>sourceSize</key>
                <string>{168,195}</string>
            </dict>
            <key>pd_magic_rose_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,150},{142,103}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,59},{142,103}}</string>
                <key>sourceSize</key>
                <string>{168,195}</string>
            </dict>
            <key>pd_magic_rose_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{146,135}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,39},{146,135}}</string>
                <key>sourceSize</key>
                <string>{168,195}</string>
            </dict>
            <key>pd_magic_rose_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{146,137}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,28},{146,137}}</string>
                <key>sourceSize</key>
                <string>{168,195}</string>
            </dict>
            <key>pd_magic_rose_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,133}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,29},{156,133}}</string>
                <key>sourceSize</key>
                <string>{168,195}</string>
            </dict>
            <key>pd_magic_rose_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{156,133}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,29},{156,133}}</string>
                <key>sourceSize</key>
                <string>{168,195}</string>
            </dict>
            <key>pd_magic_rose_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{156,133}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,29},{156,133}}</string>
                <key>sourceSize</key>
                <string>{168,195}</string>
            </dict>
            <key>pd_magic_rose_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{156,133}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,29},{156,133}}</string>
                <key>sourceSize</key>
                <string>{168,195}</string>
            </dict>
            <key>pd_magic_rose_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{156,133}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,29},{156,133}}</string>
                <key>sourceSize</key>
                <string>{168,195}</string>
            </dict>
            <key>pd_magic_rose_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{156,133}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,29},{156,133}}</string>
                <key>sourceSize</key>
                <string>{168,195}</string>
            </dict>
            <key>pd_magic_rose_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{156,133}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,29},{156,133}}</string>
                <key>sourceSize</key>
                <string>{168,195}</string>
            </dict>
            <key>pd_magic_rose_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{148,133}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,29},{148,133}}</string>
                <key>sourceSize</key>
                <string>{168,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_magic_rose.png</string>
            <key>size</key>
            <string>{835,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bd831a765d9c85cbe5d427df1f1d3d1:1a759f9d26624c268aec38e623c06b4e:24dfbc928ca9e53f82712dca99d86ef1$</string>
            <key>textureFileName</key>
            <string>pd_magic_rose.png</string>
        </dict>
    </dict>
</plist>
