<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pd_magic_dagger_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{55,65}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{55,65}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{89,87}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{89,87}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,91}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{89,91}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{87,89}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{87,89}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{89,89}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{89,89}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,93},{87,89}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{87,89}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{89,89}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{89,89}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,93},{89,89}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,31},{89,89}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,189},{51,27}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,54},{51,27}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,189},{51,33}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,54},{51,33}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,172},{53,39}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,52},{53,39}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,184},{61,43}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,48},{61,43}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,184},{67,51}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,40},{67,51}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,136},{71,51}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{71,51}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{71,55}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{71,55}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,75},{71,59}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{71,59}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,186},{71,63}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{71,63}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,184},{71,67}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{71,67}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{71,71}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{71,71}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,93},{71,77}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,40},{71,77}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,172},{71,77}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{71,77}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,93},{71,77}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{71,77}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,93},{71,77}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{71,77}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,93},{71,77}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{71,77}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,93},{71,77}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{71,77}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,93},{71,77}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{71,77}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,93},{71,77}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{71,77}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,93},{71,77}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{71,77}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,93},{71,77}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{71,77}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dagger_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,93},{71,77}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{71,77}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_magic_dagger.png</string>
            <key>size</key>
            <string>{492,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f55306d6be2b9c0fd1cbceeb3a4f3416:d5e9d8e9eeb2dd66f50df4195295771f:f5d22b3d8667d6584540f7eeba81d004$</string>
            <key>textureFileName</key>
            <string>pd_magic_dagger.png</string>
        </dict>
    </dict>
</plist>
