<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pd_magic_ghost_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,63},{37,24}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{37,24}}</string>
                <key>sourceSize</key>
                <string>{85,24}</string>
            </dict>
            <key>pd_magic_ghost_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,63},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>pd_magic_ghost_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{54,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,59}}</string>
                <key>sourceSize</key>
                <string>{54,59}</string>
            </dict>
            <key>pd_magic_ghost_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,154},{88,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,81}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>pd_magic_ghost_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{88,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,121}}</string>
                <key>sourceSize</key>
                <string>{88,121}</string>
            </dict>
            <key>pd_magic_ghost_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,154},{83,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,106}}</string>
                <key>sourceSize</key>
                <string>{83,106}</string>
            </dict>
            <key>pd_magic_ghost_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,154},{83,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,146}}</string>
                <key>sourceSize</key>
                <string>{83,146}</string>
            </dict>
            <key>pd_magic_ghost_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{130,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,150}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>pd_magic_ghost_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{132,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,150}}</string>
                <key>sourceSize</key>
                <string>{132,150}</string>
            </dict>
            <key>pd_magic_ghost_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,150}}</string>
                <key>sourceSize</key>
                <string>{134,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_magic_ghost.png</string>
            <key>size</key>
            <string>{464,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e78150d048cd64a75301b3439d8d90a:8eff4ca099c3112ee6faf7543cb1b428:582b69737acf07a818dd99ff0648ef0f$</string>
            <key>textureFileName</key>
            <string>pd_magic_ghost.png</string>
        </dict>
    </dict>
</plist>
