<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pd_magic_tomato_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{75,82}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{75,82}}</string>
                <key>sourceSize</key>
                <string>{97,144}</string>
            </dict>
            <key>pd_magic_tomato_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,2},{81,74}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{81,74}}</string>
                <key>sourceSize</key>
                <string>{97,144}</string>
            </dict>
            <key>pd_magic_tomato_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{93,86}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{93,86}}</string>
                <key>sourceSize</key>
                <string>{97,144}</string>
            </dict>
            <key>pd_magic_tomato_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{93,96}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{93,96}}</string>
                <key>sourceSize</key>
                <string>{97,144}</string>
            </dict>
            <key>pd_magic_tomato_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{93,118}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{93,118}}</string>
                <key>sourceSize</key>
                <string>{97,144}</string>
            </dict>
            <key>pd_magic_tomato_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{93,126}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{93,126}}</string>
                <key>sourceSize</key>
                <string>{97,144}</string>
            </dict>
            <key>pd_magic_tomato_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,132}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{93,132}}</string>
                <key>sourceSize</key>
                <string>{97,144}</string>
            </dict>
            <key>pd_magic_tomato_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{93,132}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{93,132}}</string>
                <key>sourceSize</key>
                <string>{97,144}</string>
            </dict>
            <key>pd_magic_tomato_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,132}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{93,132}}</string>
                <key>sourceSize</key>
                <string>{97,144}</string>
            </dict>
            <key>pd_magic_tomato_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,132}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{93,132}}</string>
                <key>sourceSize</key>
                <string>{97,144}</string>
            </dict>
            <key>pd_magic_tomato_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,132}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{93,132}}</string>
                <key>sourceSize</key>
                <string>{97,144}</string>
            </dict>
            <key>pd_magic_tomato_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,132}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{93,132}}</string>
                <key>sourceSize</key>
                <string>{97,144}</string>
            </dict>
            <key>pd_magic_tomato_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,132}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{93,132}}</string>
                <key>sourceSize</key>
                <string>{97,144}</string>
            </dict>
            <key>pd_magic_tomato_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,132}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{93,132}}</string>
                <key>sourceSize</key>
                <string>{97,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_magic_tomato.png</string>
            <key>size</key>
            <string>{857,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a31aff705b25db86732276e448db98f:98955f82429292164f233c0389f8cad5:943968c9abce5963f2e8b8d86c710b65$</string>
            <key>textureFileName</key>
            <string>pd_magic_tomato.png</string>
        </dict>
    </dict>
</plist>
