<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pd_magic_dog_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{147,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,88}}</string>
                <key>sourceSize</key>
                <string>{147,88}</string>
            </dict>
            <key>pd_magic_dog_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,151}}</string>
                <key>sourceSize</key>
                <string>{182,151}</string>
            </dict>
            <key>pd_magic_dog_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{163,134}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{163,134}}</string>
                <key>sourceSize</key>
                <string>{165,134}</string>
            </dict>
            <key>pd_magic_dog_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{170,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,126}}</string>
                <key>sourceSize</key>
                <string>{172,128}</string>
            </dict>
            <key>pd_magic_dog_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,130},{164,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,123}}</string>
                <key>sourceSize</key>
                <string>{164,123}</string>
            </dict>
            <key>pd_magic_dog_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,133},{152,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{152,122}}</string>
                <key>sourceSize</key>
                <string>{152,124}</string>
            </dict>
            <key>pd_magic_dog_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,255},{162,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,134}}</string>
                <key>sourceSize</key>
                <string>{162,134}</string>
            </dict>
            <key>pd_magic_dog_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{152,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{152,129}}</string>
                <key>sourceSize</key>
                <string>{152,131}</string>
            </dict>
            <key>pd_magic_dog_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{100,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,106}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_magic_dog.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ae27857b40a66ce2f649034ff9a7fae:679cc620aa98b0b668b00c8b3b573cee:18baeda423918312a25dd290d92b4458$</string>
            <key>textureFileName</key>
            <string>pd_magic_dog.png</string>
        </dict>
    </dict>
</plist>
