<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pd_magic_cock_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,114},{84,91}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,34},{84,91}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,115},{84,91}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,34},{84,91}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,103},{84,91}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,34},{84,91}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,114},{84,91}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,34},{84,91}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,114},{84,91}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,34},{84,91}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,114},{84,91}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,34},{84,91}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,101}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{136,101}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,111},{88,97}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,28},{88,97}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,103},{94,91}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,35},{94,91}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,105},{92,109}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{92,109}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{122,111}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{122,111}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{124,107}}</string>
                <key>offset</key>
                <string>{-28,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{124,107}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{118,99}}</string>
                <key>offset</key>
                <string>{-27,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{118,99}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{114,99}}</string>
                <key>offset</key>
                <string>{-23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{114,99}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{112,97}}</string>
                <key>offset</key>
                <string>{-25,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{112,97}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{124,91}}</string>
                <key>offset</key>
                <string>{-23,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{124,91}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{110,99}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,23},{110,99}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{124,101}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{124,101}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>pd_magic_cock_0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,101},{92,99}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,23},{92,99}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_magic_cock.png</string>
            <key>size</key>
            <string>{967,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c40ecfb3b7b35021ce90ba36faf01df4:fdc696df1ad0ce8af78e83f71a90c2a1:2679a2c83c9c321ff8b6f6e45e1abe42$</string>
            <key>textureFileName</key>
            <string>pd_magic_cock.png</string>
        </dict>
    </dict>
</plist>
