<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pd_magic_water_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,109},{67,73}}</string>
                <key>offset</key>
                <string>{21,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,32},{67,73}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,157},{69,73}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,28},{69,73}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,184},{67,71}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,19},{67,71}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,184},{67,73}}</string>
                <key>offset</key>
                <string>{-32,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{67,73}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,109},{67,73}}</string>
                <key>offset</key>
                <string>{-35,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{67,73}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,157},{67,83}}</string>
                <key>offset</key>
                <string>{-27,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{67,83}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{133,85}}</string>
                <key>offset</key>
                <string>{-11,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{133,85}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,2},{133,105}}</string>
                <key>offset</key>
                <string>{-11,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{133,105}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{153,151}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{153,151}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{153,149}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{153,149}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,155}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{151,155}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{149,153}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{149,153}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,159},{117,95}}</string>
                <key>offset</key>
                <string>{17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,66},{117,95}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,109},{117,99}}</string>
                <key>offset</key>
                <string>{17,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,63},{117,99}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{117,105}}</string>
                <key>offset</key>
                <string>{17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,57},{117,105}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,135},{117,121}}</string>
                <key>offset</key>
                <string>{17,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,41},{117,121}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{117,131}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,31},{117,131}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,157},{117,95}}</string>
                <key>offset</key>
                <string>{17,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,65},{117,95}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
            <key>pd_magic_water_0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,157},{117,97}}</string>
                <key>offset</key>
                <string>{17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,65},{117,97}}</string>
                <key>sourceSize</key>
                <string>{159,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_magic_water.png</string>
            <key>size</key>
            <string>{1006,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d26736b3a7e88018cf230a55383b64d8:c390de579a2f616842cf4210e35d8e34:3eae6897ac14d0822801ea033e35bcdd$</string>
            <key>textureFileName</key>
            <string>pd_magic_water.png</string>
        </dict>
    </dict>
</plist>
