<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_back_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{85,118}}</string>
                <key>sourceSize</key>
                <string>{89,118}</string>
            </dict>
            <key>card_back_small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,91},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>card_front_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{85,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{85,118}}</string>
                <key>sourceSize</key>
                <string>{89,118}</string>
            </dict>
            <key>card_value_big_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,91},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>card_value_big_black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,91},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>card_value_big_black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,91},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>card_value_big_black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,91},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>card_value_big_black_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,91},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
            <key>card_value_big_black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,91},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>card_value_big_black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,91},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>card_value_big_black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,91},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>card_value_big_black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,91},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>card_value_big_black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,91},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>card_value_big_black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,91},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>card_value_big_black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,91},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
            <key>card_value_big_black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,91},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>card_value_big_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,91},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>card_value_big_red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,91},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>card_value_big_red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,91},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>card_value_big_red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,91},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>card_value_big_red_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,91},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
            <key>card_value_big_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,91},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>card_value_big_red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,91},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>card_value_big_red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,91},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>card_value_big_red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,91},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>card_value_big_red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,91},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>card_value_big_red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,91},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>card_value_big_red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,91},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
            <key>card_value_big_red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,91},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>card_variety_big_black_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,64},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>card_variety_big_black_club_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>card_variety_big_black_club_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>card_variety_big_black_club_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>card_variety_big_black_spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,58},{46,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>card_variety_big_black_spade_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>card_variety_big_black_spade_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>card_variety_big_black_spade_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>card_variety_big_red_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{50,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>card_variety_big_red_diamond_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>card_variety_big_red_diamond_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>card_variety_big_red_diamond_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>card_variety_big_red_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{50,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{50,54}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>card_variety_big_red_heart_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>card_variety_big_red_heart_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>card_variety_big_red_heart_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>card_variety_small_black_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,91},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>card_variety_small_black_spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,91},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>card_variety_small_red_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,91},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,24}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>card_variety_small_red_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,91},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_card_texture.png</string>
            <key>size</key>
            <string>{1072,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25d61f5525bcc7e05ed3c1f70f1960c7:518f92d443fbf16f4c1e6e73366102bb:00d15ed9719547c9e4b36b9d9292d5d2$</string>
            <key>textureFileName</key>
            <string>pd_card_texture.png</string>
        </dict>
    </dict>
</plist>
