<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,184},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,92},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,184},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,92},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,96},{96,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{96,84}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{104,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{104,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{106,102}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{106,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{106,102}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{92,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{92,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{92,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{92,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,92},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,184},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,182},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,182},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_14_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,102},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,196},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,102},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,102},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{92,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{92,94}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{92,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{92,94}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,196},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,102},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,196},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,100},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_17_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,100},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,96},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,96},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_17_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,96},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_18_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,96},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_18_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,96},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_18_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,96},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_18_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,96},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_19_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,96},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,96},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,190},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_19_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,190},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,190},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{88,88}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,2},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{88,94}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{88,98}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{88,98}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_20_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{94,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{88,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_20_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{94,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_20_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{88,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,96},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{88,88}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,92},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{88,88}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,92},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{88,88}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,92},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{88,88}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,186},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{88,88}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,182},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{88,88}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,92},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{88,90}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,194},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{88,90}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{106,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{106,74}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,102},{102,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{102,72}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,210},{86,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{86,74}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,210},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{82,74}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{84,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{84,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{84,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{84,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{84,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{84,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{84,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{84,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,194},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{88,90}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{98,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{98,98}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{98,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{98,90}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{98,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{98,98}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,190},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,190},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,190},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,190},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,194},{90,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{90,94}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,88},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{88,94}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,194},{90,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{90,94}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,88},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{88,94}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,102},{92,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{92,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{104,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{104,98}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,102},{92,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{92,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>face_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{104,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{104,98}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_face_texture.png</string>
            <key>size</key>
            <string>{1999,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:113bbd88404588046e2715b0f188079f:a4ecfb729d7bdd01ed487da69a19e642:bec3def90076d924b92face44881f941$</string>
            <key>textureFileName</key>
            <string>pd_face_texture.png</string>
        </dict>
    </dict>
</plist>
