<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,595}}</string>
                <key>sourceSize</key>
                <string>{402,595}</string>
            </dict>
            <key>girl_blink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{68,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,32}}</string>
                <key>sourceSize</key>
                <string>{68,32}</string>
            </dict>
            <key>girl_blink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,599},{68,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,32}}</string>
                <key>sourceSize</key>
                <string>{68,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_girl_texture.png</string>
            <key>size</key>
            <string>{406,633}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c25c43b0ffaa065570d0ae5aa769205:5f974f262116b6fa0d712206366526b4:facdaa36344cff370bb8a01b152e2b09$</string>
            <key>textureFileName</key>
            <string>pd_girl_texture.png</string>
        </dict>
    </dict>
</plist>
