<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>invitefriends_2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,34},{96,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{96,86}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>invitefriends_2_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{146,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,30}}</string>
                <key>sourceSize</key>
                <string>{146,30}</string>
            </dict>
            <key>invitefriends_5_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,34},{106,90}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{106,90}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>invitefriends_5_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,34},{146,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,30}}</string>
                <key>sourceSize</key>
                <string>{146,30}</string>
            </dict>
            <key>invitefriends_8_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{128,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{128,90}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>invitefriends_8_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,66},{146,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,30}}</string>
                <key>sourceSize</key>
                <string>{146,30}</string>
            </dict>
            <key>invitefriends_title_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,30}}</string>
                <key>sourceSize</key>
                <string>{264,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_invitefriends_texture.png</string>
            <key>size</key>
            <string>{486,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09fddccb9d24e0f9a8a75011f4a13c59:c2de14ea7adc7faf81a75640bc0796c0:e7f8776ca2c649b180655e664d59d1a2$</string>
            <key>textureFileName</key>
            <string>pd_invitefriends_texture.png</string>
        </dict>
    </dict>
</plist>
