<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelup_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{44,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{44,62}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>levelup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,400},{28,60}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{28,60}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>levelup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,464},{42,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{42,60}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>levelup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{42,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{42,62}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>levelup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,336},{44,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{44,60}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>levelup_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,464},{42,60}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{42,60}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>levelup_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,400},{44,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{44,62}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>levelup_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,398},{44,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{44,60}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>levelup_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,400},{44,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{44,62}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>levelup_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,336},{44,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{44,62}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>levelup_box_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{200,158}}</string>
                <key>offset</key>
                <string>{-24,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{200,158}}</string>
                <key>sourceSize</key>
                <string>{274,174}</string>
            </dict>
            <key>levelup_box_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,172}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{224,172}}</string>
                <key>sourceSize</key>
                <string>{274,174}</string>
            </dict>
            <key>levelup_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{119,62}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{119,62}}</string>
                <key>sourceSize</key>
                <string>{131,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_levelup_texture.png</string>
            <key>size</key>
            <string>{228,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b656e502d350f32f53e20bd610c2f86:92daca1941a1b057e2378c744edd481b:db58b55a1f3b8f821cd9cbdbe8b722f1$</string>
            <key>textureFileName</key>
            <string>pd_levelup_texture.png</string>
        </dict>
    </dict>
</plist>
