<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playtogether_golden_box_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{86,70}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{86,70}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>playtogether_golden_box_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{98,76}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>playtogether_iron_box_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{86,70}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{86,70}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>playtogether_iron_box_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{98,76}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>playtogether_item_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,80},{125,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{125,27}}</string>
                <key>sourceSize</key>
                <string>{139,27}</string>
            </dict>
            <key>playtogether_item_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{139,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,27}}</string>
                <key>sourceSize</key>
                <string>{139,27}</string>
            </dict>
            <key>playtogether_item_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,80},{139,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,27}}</string>
                <key>sourceSize</key>
                <string>{139,27}</string>
            </dict>
            <key>playtogether_silver_box_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{86,70}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{86,70}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>playtogether_silver_box_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{98,76}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_playtogether_texture.png</string>
            <key>size</key>
            <string>{550,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a959bc2396701ee5923ec3096835c426:9ef85d634b34c0d30f9ab0771922baf4:2db67ca8409d594370e6b0067ce2cb0b$</string>
            <key>textureFileName</key>
            <string>pd_playtogether_texture.png</string>
        </dict>
    </dict>
</plist>
