<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>register_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,93}}</string>
                <key>sourceSize</key>
                <string>{117,93}</string>
            </dict>
            <key>register_item_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,85},{71,28}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{71,28}}</string>
                <key>sourceSize</key>
                <string>{89,28}</string>
            </dict>
            <key>register_item_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,90},{89,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,28}}</string>
                <key>sourceSize</key>
                <string>{89,28}</string>
            </dict>
            <key>register_item_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,55},{89,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,28}}</string>
                <key>sourceSize</key>
                <string>{89,28}</string>
            </dict>
            <key>register_panel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,55},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>register_panel_decorate.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,103},{143,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,5}}</string>
                <key>sourceSize</key>
                <string>{143,5}</string>
            </dict>
            <key>register_sign_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,55},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>register_sign_button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{111,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,74}}</string>
                <key>sourceSize</key>
                <string>{111,74}</string>
            </dict>
            <key>register_sign_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{114,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,74}}</string>
                <key>sourceSize</key>
                <string>{114,74}</string>
            </dict>
            <key>register_title_bg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{186,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,99}}</string>
                <key>sourceSize</key>
                <string>{186,99}</string>
            </dict>
            <key>register_title_decorate.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{776,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{776,51}}</string>
                <key>sourceSize</key>
                <string>{776,51}</string>
            </dict>
            <key>register_title_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,55},{277,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,58}}</string>
                <key>sourceSize</key>
                <string>{277,58}</string>
            </dict>
            <key>register_title_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,103},{16,15}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{16,15}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>register_title_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,55},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_register_texture.png</string>
            <key>size</key>
            <string>{1215,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4e062b0dc05095251e06751d2a81e29:9ea1ee9edf8b5362657605c2096fd2d3:44185ce111535d7be3021632f2c0c510$</string>
            <key>textureFileName</key>
            <string>pd_register_texture.png</string>
        </dict>
    </dict>
</plist>
