<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pd_magic_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,172},{71,46}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,52},{71,46}}</string>
                <key>sourceSize</key>
                <string>{161,158}</string>
            </dict>
            <key>pd_magic_cock.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,113},{103,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,75}}</string>
                <key>sourceSize</key>
                <string>{103,75}</string>
            </dict>
            <key>pd_magic_dagger.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,201},{55,65}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{55,65}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>pd_magic_dog.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,50},{147,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,88}}</string>
                <key>sourceSize</key>
                <string>{147,88}</string>
            </dict>
            <key>pd_magic_ghost.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,408},{37,24}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{37,24}}</string>
                <key>sourceSize</key>
                <string>{85,24}</string>
            </dict>
            <key>pd_magic_kiss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,207},{115,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,54}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>pd_magic_missile.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,324},{48,98}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,45},{48,98}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>pd_magic_rose.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,207},{120,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>pd_magic_tomato.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,294},{75,82}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{75,82}}</string>
                <key>sourceSize</key>
                <string>{97,144}</string>
            </dict>
            <key>pd_magic_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,329},{84,91}}</string>
                <key>offset</key>
                <string>{49,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,18},{84,91}}</string>
                <key>sourceSize</key>
                <string>{224,193}</string>
            </dict>
            <key>pd_table_dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,79},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>pd_table_dealer_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,50},{133,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,142}}</string>
                <key>sourceSize</key>
                <string>{133,142}</string>
            </dict>
            <key>table_addFriendMessage_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,201},{79,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{79,73}}</string>
                <key>sourceSize</key>
                <string>{81,75}</string>
            </dict>
            <key>table_bet_countdown_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,36},{400,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,12}}</string>
                <key>sourceSize</key>
                <string>{400,12}</string>
            </dict>
            <key>table_buyIn_buyInChipsBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,276},{69,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,63}}</string>
                <key>sourceSize</key>
                <string>{69,63}</string>
            </dict>
            <key>table_buyIn_sliderBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,308},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
            <key>table_buyIn_sliderFill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,404},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>table_buyIn_sliderPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,294},{75,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,42}}</string>
                <key>sourceSize</key>
                <string>{75,42}</string>
            </dict>
            <key>table_card_type_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,205},{101,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,36}}</string>
                <key>sourceSize</key>
                <string>{101,36}</string>
            </dict>
            <key>table_chat_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,348},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>table_chat_btn_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,220},{72,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{72,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>table_chat_emotion_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,366},{47,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{47,46}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>table_chat_emotion_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,367},{47,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{47,46}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>table_chat_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,411},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>table_chat_message_his_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,268},{49,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{49,50}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>table_chat_message_his_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,317},{49,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{49,50}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>table_chat_msg_right_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,140},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>table_chat_quick_message_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,313},{51,52}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,52}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>table_chat_quick_message_unselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,314},{51,52}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,52}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>table_chat_quickreply_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,188},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>table_chat_quickreply_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,411},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>table_chat_tabItem_select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,36},{36,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{36,60}</string>
            </dict>
            <key>table_chat_tabItem_unselect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,214},{36,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,64}}</string>
                <key>sourceSize</key>
                <string>{36,64}</string>
            </dict>
            <key>table_chip_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,319},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>table_chip_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,319},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>table_chip_type_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,414},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>table_chip_type_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,368},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>table_chip_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,368},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>table_chip_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,414},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>table_chip_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,109},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>table_chip_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,414},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>table_chip_type_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,415},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>table_chip_type_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,415},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>table_chip_type_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,403},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>table_chip_type_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,398},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>table_deng_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,407},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>table_deng_value_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,408},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>table_deng_value_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,418},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>table_deng_value_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,418},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>table_increaseBetLeft_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{75,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,450}}</string>
                <key>sourceSize</key>
                <string>{75,450}</string>
            </dict>
            <key>table_increaseBet_inner_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,352},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{46,60}</string>
            </dict>
            <key>table_increaseBet_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,98},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>table_increaseBet_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,79},{32,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,408}}</string>
                <key>sourceSize</key>
                <string>{32,408}</string>
            </dict>
            <key>table_increaseBet_slider_stencil.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,280},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>table_invite_friend_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,371},{74,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{74,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>table_invite_friend_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,143},{74,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{74,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>table_jewelbox_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,140},{84,68}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,48},{84,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>table_jewelbox_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,336},{100,80}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{100,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>table_jewelbox_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,98},{120,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>table_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{443,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,503}}</string>
                <key>sourceSize</key>
                <string>{443,503}</string>
            </dict>
            <key>table_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,143},{62,129}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{62,129}}</string>
                <key>sourceSize</key>
                <string>{70,143}</string>
            </dict>
            <key>table_magic_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,194},{77,44}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,52},{77,44}}</string>
                <key>sourceSize</key>
                <string>{161,158}</string>
            </dict>
            <key>table_magic_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,50},{147,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,88}}</string>
                <key>sourceSize</key>
                <string>{147,88}</string>
            </dict>
            <key>table_magic_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,207},{134,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,150}}</string>
                <key>sourceSize</key>
                <string>{134,150}</string>
            </dict>
            <key>table_magic_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,207},{115,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,54}}</string>
                <key>sourceSize</key>
                <string>{115,54}</string>
            </dict>
            <key>table_magic_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,207},{120,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>table_magic_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,218},{116,108}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{116,108}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>table_magic_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,50},{160,91}}</string>
                <key>offset</key>
                <string>{18,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,13},{160,91}}</string>
                <key>sourceSize</key>
                <string>{224,193}</string>
            </dict>
            <key>table_magic_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,98},{136,101}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{136,101}}</string>
                <key>sourceSize</key>
                <string>{180,127}</string>
            </dict>
            <key>table_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,2},{32,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,490}}</string>
                <key>sourceSize</key>
                <string>{32,490}</string>
            </dict>
            <key>table_opr_check_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,276},{30,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,74}}</string>
                <key>sourceSize</key>
                <string>{30,74}</string>
            </dict>
            <key>table_opr_check_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,414},{31,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,73}}</string>
                <key>sourceSize</key>
                <string>{31,73}</string>
            </dict>
            <key>table_opr_check_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,280},{31,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,73}}</string>
                <key>sourceSize</key>
                <string>{31,73}</string>
            </dict>
            <key>table_opr_quick_bet_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,411},{33,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,74}}</string>
                <key>sourceSize</key>
                <string>{33,74}</string>
            </dict>
            <key>table_opr_quick_bet_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,371},{33,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,74}}</string>
                <key>sourceSize</key>
                <string>{33,74}</string>
            </dict>
            <key>table_opr_raise_bet_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,371},{31,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,74}}</string>
                <key>sourceSize</key>
                <string>{31,74}</string>
            </dict>
            <key>table_opr_raise_bet_btn_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,371},{31,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,74}}</string>
                <key>sourceSize</key>
                <string>{31,74}</string>
            </dict>
            <key>table_pok8_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,220},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>table_pok9_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,276},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>table_pok_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,188},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>table_profile_magic_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,194},{79,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>table_profile_magic_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,210},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>table_profile_sepline.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,408},{138,1}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,1}}</string>
                <key>sourceSize</key>
                <string>{154,1}</string>
            </dict>
            <key>table_seat_available.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,317},{36,49}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{36,49}}</string>
                <key>sourceSize</key>
                <string>{36,61}</string>
            </dict>
            <key>table_seat_available_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,292},{67,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,23}}</string>
                <key>sourceSize</key>
                <string>{67,23}</string>
            </dict>
            <key>table_seat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,414},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>table_seat_chip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,276},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>table_self_seat_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,214},{64,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>table_send_girl_chip_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,294},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{75,65}}</string>
                <key>sourceSize</key>
                <string>{81,69}</string>
            </dict>
            <key>table_standup_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,341},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>table_standup_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,371},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{74,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>table_timer_canvas.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,368},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>table_win_big_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,2},{276,94}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{276,94}}</string>
                <key>sourceSize</key>
                <string>{290,112}</string>
            </dict>
            <key>table_win_big_cup.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,207},{188,199}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{188,199}}</string>
                <key>sourceSize</key>
                <string>{210,217}</string>
            </dict>
            <key>table_win_big_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,366},{36,36}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{36,36}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>table_win_big_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,113},{336,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{336,92}}</string>
                <key>sourceSize</key>
                <string>{348,94}</string>
            </dict>
            <key>table_win_flash_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,429},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>table_win_small_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,359},{142,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,68}}</string>
                <key>sourceSize</key>
                <string>{142,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_table_texture.png</string>
            <key>size</key>
            <string>{1738,447}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4f3709dd2f1be99dfedb9f4e595dfbd:62d8a9c7bdb9028aebc8ede0eff38bfb:ffad37191e64bafda9f2dfee11df1124$</string>
            <key>textureFileName</key>
            <string>pd_table_texture.png</string>
        </dict>
    </dict>
</plist>
