/fgamesvr/log
fgamesvr/setting/
fgamesvr/conf/
proto-bin

fgame*.tar.gz

*.log

*.o
*.so

*.local
bak/
.idea
.tags
*.pid
*.out
skynet/sky_net
fgamesvr/mylockfile

fgamesvr/busilog/
fgamesvr/business/
fgamesvr/temp/
fgamesvr/busilog_rank/
